# macOS
.DS_Store
# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate
*.moved-aside

# Swift Package Manager
.swiftpm/
.build/

# Carthage / CocoaPods (uncomment if you use them)
# Carthage/Build/
# Pods/

# Archives & symbols
*.ipa
*.dSYM
